@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.form-main {
    display: flex;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    align-items: center;
    justify-content: center;


}

.form-container {
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
    align-self: center;
    display: flex;
    text-align: center;
    padding: 1.25rem;
    align-items: center;
    justify-content: center;
    background-color: var(--whitesmoke-color);
    border-radius: 5px;

}

.form-head {
    font-weight: 500;
    color: var(--primary-color);
}

.submit-btn {
    width: 85%;
}

.new-ac {
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    border: none;
    font-size: 1rem;
    padding-top: 5px ;
    cursor: pointer;

}
.new-ac:hover{
    color: var(--secondary-color);
    text-decoration: 1px solid var(--primary-color) underline;
}

.label-inp {
    margin-bottom: 1px;
    color: var(--primary-color);
}

.pass-rem {
    display: flex;
    justify-content: space-between;
}

.h4 {
    font-weight: 300;
}

.align-justify-center {
    align-items: center;
    justify-content: center;
}

.margin-30 {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}

.primary-btn,
.primary-btn-border,
.secondary-btn-border {
    padding: 5px;
}

.button {
    background-color: transparent;
}

.link-style {
    text-decoration: none;
}

.link-color {
    color: var(--whitesmoke-color);
}

.link-color-primary {
    color: var(--primary-color);
}

.new-btn{
    border: none;
    border-radius: var(--border-radius);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    margin: 3px;
    padding: 10px;
    font-weight: 500;
    text-decoration:  1px solid var(--secondary-color) underline;
}

.login-btns{
    margin-top: 1.25rem;
}

.terms{
    color: var(--primary-color);
}