@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3.125rem;
}

.main-container {
    display: flex;
}

/* Sidebar CSS */
.left-nav {
    text-align: center;
    width: 20%;
    align-self: auto;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
}

.left-list {
    list-style: none;
    font-size: larger;
    padding-left: 5px;
}

.left-item {
    margin: 0.9375rem;
    padding: 10px;
    border-radius: 5px;
    color: var(--primary-color);
}

.left-item:hover {
    background-color: #b6bfc9;
}

/* Right Flex Container Main */

.right-cont {
    width: 80%;
    margin-top: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.25rem;
}

.fal {
    color: var(--primary-color);
}

span {
    margin-right: 10px;
}

/* New Note Container Properties */

.note-container {
    background-color: #b6bfc9;
    border-radius: 10px;
    padding: 10px;
    width: 31.25rem;
}

.note-head {
    display: flex;
    gap: 1.25rem;
}

.note-text {
    width: 25rem;
    color: var(--primary-color);
    padding: 10px;
    background-color: transparent;
    border: none;
    height: 5rem;
    font-size: large;
    text-transform: capitalize;
}

.date-inp,
.note-title {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
}

.date-inp {
    border: 1px solid var(--primary-color);
}

.note-title {
    border: none;
    font-size: larger;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: var(--primary-color);
    text-transform: capitalize;
}

.note-title:focus {
    outline: none;
}

.note-text:focus {
    outline: none;
}

/* Created Note  */

.note-list {
    border-radius: 10px;
    padding: 10px;
    background-color: #133863;
    box-shadow: 3px 5px 5px 0px rgb(5, 41, 82);
}


.note-list-content{
    color: #ced5dd;
    font-size: 1rem;
    padding: 10px 10px 10px 0px;
    font-style: italic;
    font-weight: 500;
    text-transform: capitalize;
}

.note-list-title{
    color: var(--secondary-color);
    padding: 10px;
    text-decoration: underline;
    margin: 0px;
    text-transform:uppercase;
}

.fad{
    cursor: pointer;
    color : var(--whitesmoke-color);
}
/* Common CSS */

.note-foot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.pin {
    margin-left: auto;
}

.foot-icons {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.page-head{
    color: #082546;
    font-style: italic;
    font-weight: 700;
    margin-top: 0px;
    text-decoration: underline 1px var(--secondary-color);
}

/* input[type="color"] {
	opacity: 5;
	display: block;
    width: 20px;
    height: 20px;
	border: none;
    border-radius: 100%;
    background: none;
} */

#x{
    width: 40%;
}

.cancel{
    cursor: pointer;
}
.modal-inp{
    width : 70%
}

.modal-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-foot{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    gap: 5px;
}



