@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    box-shadow: 2px 6px 6px 0px rgba(235, 235, 235, 0.1);
    background-color: var(--whitesmoke-color);
    border-bottom-right-radius: 20px ;
}

.brand-name {
    font-weight: 500;
    color: var(--primary-color);
    padding-left: 3rem;
}

.search-bar {
    width: 15.625rem;
    padding: 10px;
    border-radius: 0.9375rem;
    border: 1px solid var(--secondary-color);
}

.search-bar:focus {
    outline: none;
}

.av-size {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 100%;
}

.btn {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--whitesmoke-color);
}

.btn:hover {
    background-color: var(--secondary-color);
}

.theme-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-right: 3rem;
}


