.right-cont {
    justify-content: left;
}

.main-chip-cont {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.marginned {
    margin: 0.9375rem;
    padding: 0px 0px 5px 15px;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.margin {
    list-style-type: none;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

li .input {
    background-color: var(--secondary-color);
}

.input-fruit {
    border: none;
    outline: none;
    background-color: transparent;
}

.user-input {
    background-color: var(--secondary-color);
}

.input-fruit::placeholder {
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;

}

h5 {
    color: var(--primary-color);
}

.list-item,
.new-item {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: var(--whitesmoke-color);
    border: none;
    border-radius: 1.25rem;
    text-align: center;
    padding-left: 1.25rem;
}

.new-item:hover {
    border-bottom: 2px solid var(--primary-color);
}

.list-item:hover {
    color: white;
    background-color: var(--primary-color);
}

.icon-cross {
    margin-left: 10px;

}

.chip-icon {
    color: var(--secondary-color);
    cursor: pointer;
}